<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="switch.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Your Orders</title>
</head>
<style>
    body{
      overflow-x: hidden;
      font-family: 'Ubuntu Mono', monospace;
    }
</style>
<body>
  <nav style="background-color: black;" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
            <a style="color: #3C79F5; font-weight: bold;" class="navbar-brand" href="/">
        <img src="switch.png" alt="Logo" width="30" height="22" class="d-inline-block align-text-top">
        GameSwitch
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="margin-right: 80px;" class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li style="margin-right: 1rem;" class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/orders"><i style="margin-right: 5px;" class="fa-solid fa-bag-shopping"></i>My Orders</a></li>
              <li><a class="dropdown-item" href="/profile"><i style="margin-right: 5px;" class="fa-regular fa-user"></i>My Profile</a></li>
              <li><a class="dropdown-item" href="/logout"><i style="margin-right: 5px;" class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container text-center table-responsive">
        <h1 style="margin-top: 5rem; text-decoration: underline;" class="display-1" >Your Orders</h1>
        <table style="margin-top: 5rem; border-radius: 20px;" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Invoice</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(function(order){ %>
              <tr>
                <td><a style="color: blue;">#<%= order.orderID %> </a></td>
                <td>&#8377;<%= order.amount %></td>
                <td><%= order.status %></td>
                <td>
                  <form action="/download-invoice" method="POST">
                    <input type="hidden" name="orderID" value="<%= order.orderID %>">
                    <button type="submit" class="btn btn-success"><i style="margin-right: 6px;" class="bi bi-download"></i>Download</button>      
                  </form>
                </td>
              </tr>
              <% }) %>


            </tbody>
          </table>
          <a href="/"><button style="width: 10vh; margin-top: 3rem;" class="btn btn-dark">Home</button></a>
    </div>
</body>
</html>